@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto:wght@500&display=swap");
.navbar {
    background-color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
body {
    background-color: #f0f0f0;
    color: #333;
}

header {
    background-color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    animation: wave 10s infinite linear;
    
}

/* Dark mode styles */
.dark-mode {
    background-color: #333;
    color: #fff;
}

/* Dark mode toggle styles */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.navbar a {
    text-decoration: none;
    color: white;
}


 .logo a {
    font-size: 24px;
    font-weight: bold;
}


 .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}


 .nav-links li {
    margin: 0;
    padding: 0;
}


 .nav-links a {
    font-size: 16px;
    font-weight: 600;
    transition: color 0.3s;
}


 .nav-links a:hover {
    color: #66bb6a; /* Change color on hover */
 
}
.content {
    /* Your content styles go here */
 
    padding: 20px;
}


 /* Footer Styles */

 .footer {
    background-color: #39b3e0;
    color: #fff;
    padding: 40px 0;
    text-align: center;
    position: relative;
}


.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}


.footer-logo img {
    max-width: 100px;
}


 .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
   
}


 .footer-links li {
    margin-bottom: 10px;
}


 .footer-links a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
}


 .footer-links a:hover {
    color: #66bb6a;
}


 .footer-social ul {
    list-style: none;
    padding: 0;
    margin: 0;
}


 .footer-social li {
    display: inline-block;
    margin-right: 15px;
}


 .footer-social a {
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    transition: color 0.3s;
}


.footer-social a:hover {
    color: #66bb6a;
}



.footer-wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
  background-color: rgb(11, 101, 175);
    
    animation: shake 5s infinite linear;
}


 @keyframes wave {
    0% {
        background-position-x: 0;
    }
    50% {
        background-position-x: 50%;
    }
    100% {
        background-position-x: 100%;
    }
}

h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
h2{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(94, 36, 36);
    font-size: 18PX;
    padding-top: 30px;
}
h3{
    color: black;
}
form{
    justify-content: center;
    display: flex;
}

#search-button{
    background-color: rgb(80, 181, 80);
    border-radius: 2px;
color: white;
padding: 10px 20px;
font-size: 18px;
}

.container{
   
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
     max-width: 1200px;
     margin: 0 auto;
     align-items: center;


}
.firstitem{
    margin-top:20px;
    width: 30%;
    overflow: hidden;
    margin-bottom: 60px;
    text-align: center;
  background-color: white;
    justify-content: center;
    box-shadow: 0 0 6px black;

}
.firstitem img{

   height: 100%;
   width: 100%;
  object-fit: cover;
}
.firstitem:hover img{
    opacity: 0.8;
}

.firstitem a{
    font-size: 20px;
    text-decoration: none;
    color: black;
    display: block;
    padding: 10px;
    text-transform: capitalize;
}

#show-more{

    padding: 10px 20px;
    margin: 30px auto;
    text-align: center;
    background-color: rgb(80, 181, 80);
    display: block;
    font-size: 18px;
    color: white;
    border-radius: 5px;
}
#counter{
    padding: 5px 5px;
    margin: 30px auto;
    text-align: center;
    display: block;
    font-size: 18px;
    color: rgb(0, 0, 0);
    border-radius: 5px;
}
 @keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}